<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="height: 50px;">
        <div class="footer-manu">
          <ul>
            <!-- <li><a href="{{ site.baseurl }}/index">Home</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="https://primordial-stew.business.site"><i class="fa fa-google"></i></a></li> 
            <li><a href="https://www.linkedin.com/in/stephen-g-schoepfer-aa9a40b4/"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="http://www.twitter.com/SteveSchoepfer"><i class="fa fa-twitter"></i></a></li>-->
          </ul>
        </div>
        <p> <a href="{{ site.baseurl }}/index"> bebop.boo '24</a></p>
      </div>
    </div>
  </div>
</footer>
